<!DOCTYPE html>
<html>
	<head>
		<title>Add Bank Details - AJ express</title>
		<link rel="stylesheet" href="<%= appURL %>css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                </div>
                <div class="col-sm-8 text-left" style="display: flex;justify-content: center; background-color: #f1d37a; height: 100vh;"> 
				<div><h1>Your Amount Link Successfully Now You will use our Services</h1>
					<div>
						<center>
					<img
										src="<%= appURL %>images/logo.png"
										alt="Logo"
										border="0"
										width="48"
										style="
											
											width: 48px;
											max-width: 48px;
											min-width: 48px;
											display: flex;justify-content: center;
										"
									/>
								
									<img
									src="<%= appURL %>images/tick_green.webp"
									alt="Logo"
									border="0"
									width="48"
									style="
										width: 50%;
										height: 50%;	
										display: flex;justify-content: center;
									"
								/>	
							</center>			
				</div>
			
        </div>
		</div>
	</body>
	</html>
